.navContainer {
  width: 17%;
  background-color: rgba(23, 19, 30, 0.958);
  font-weight: 500;
  min-height: 100vh;
  position:fixed;
  color: rgba(247, 247, 247, 0.747);
}

.section {
  padding: 1rem;
  min-height: 100vh;
}

.navItem {
  padding: .5rem;
}

.navItem:hover {
  background-color: rgb(244, 244, 79);
  font-weight: 700;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}
